@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
}

section {
   padding: 0 32px;
   animation: fade-up 650ms 850ms backwards;
}

@keyframes fade-up {
   0% {
      
      transform: translateX(-2000px);
   }   
   100% {
      
      transform: translateX(0);
   }
  }

h1 {
   font-size: 48px;
}

h3 {
   font-size: 23px;
   color: #243E63;

}

p {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
}

li {
    list-style-type: none;
}

a {
   text-decoration: none;
   position: relative;
   color: #243E63;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
   padding: 80px 0;
}

.underline-hover-effect:after {
    content: "";
    position: absolute;
    height: 2px;
    opacity: 0;
    bottom: -5px;
    left: 0;
    width: 100%;
    transition: opacity 300ms ease;
}

.underline-hover-effect:hover::after {
    opacity: 1;
}

.underline-purple:after {
   background-color: #6415ff;
}

.purple {
   color: #6415ff;
}

.span__title {
   color: #6415ff;
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 1px;
   margin-bottom: 16px;
}

.section__title {
   font-size: 48px;
   color: #243E63;
   font-weight: 800;
   letter-spacing: 1px;
   margin-bottom: 24px;
}

.section__sub-title {
   width: 50%;
   margin-bottom: 32px;
   font-weight: 500;
   text-align: center;
   color: #7c8ba1;
}

.center {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
/************ 

    NAV BAR 

 ************/

 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
 }

 .nav__logo {
    max-width: 40px;
    display: flex;
 }

 .nav__logo--wrapper {
    padding-right: 10px;
 }

 .nav__logo-link {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    transition: color 300ms ease;
 }

 .nav__logo-link:hover {
    color: #6415ff;
 }

 .nav__links {
    display: flex;
    align-items: center;
 }

 .nav__link {
    margin: 0 20px;
    font-size: 14px;
    font-weight: 600;
    transition: color 300ms ease;
 }

 .nav__link:hover {
    color: #6415ff;
 }


 .link-credentials {
    display: flex;
    align-items: center;
    margin-left: 48px;
 }

 .primary__link {
   font-size: 14px;
   font-weight: 600;
   padding: 12px 32px ;
   background-color: #6415ff;
   color: #fff !important;
   border-radius: 25px;
   display: block;
   float: left;
   clear: left;
   transition: filter 300ms ease;
 }

 .primary__link:hover {
    filter: brightness(85%);
 }

 .section__link {
   margin-top: 32px;
 }


/************ 

   LANDING 

 ************/

.header__container {
   display: flex;
   align-items: center;
   height: calc(100vh - 100px);
   padding-bottom: 80px;
}

.header__img {
   width: 100%;
}

.header__img--wrapper {
   width: 57%;
}

.header__description--wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 43%;
}

.header__para {
   margin: 32px 0;
}

.form--wrapper {
   width: 80%;
}

form {
   display: flex;
   justify-content: space-between;
   border: 2px solid rgb(226, 226, 226);
   border-radius: 30px;
   padding: 8px 8px;
   width: 100%;
   transition: all 300ms ease;
}

form:hover {
   border:2px solid grey;
}

form:focus-within {
   border: 2px solid #6415ff;
}

input {
   font-size: 16px;
   font-weight: 500;
   color: black;
   border: none;
   padding-left: 20px;
}

input::placeholder {
   color: rgb(226, 226, 226);
}

input:focus {
   outline: none;
}

.header__button {
   background-color: #6415ff;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   padding: 12px 32px;
   border: none;
   border-radius: 20px;
   transition: filter 300ms ease;
}

.header__button:hover {
   filter: brightness(85%);
}

.customers-logo {
   width: 100%;
   max-width: 380px;
   margin-top: 16px;
}

.customers-logo--wrapper {
   font-size: 12px;
   font-weight: 700;
   margin-top: 80px;
   opacity: 0.4;
   color: #243E63;
   display: flex;
   flex-direction: column;
}

/************ 

   FEATURES

 ************/

.features--container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 80px;
}

.services--container {
   display: flex;
   flex-wrap: wrap;
}

.service {
   display: flex;
   width: calc(100%/3);
   padding: 0px 24px;
   margin: 32px 0;
}

.service__img--wrapper {
   display: flex;
   display: inline-block;
}

.service__img {
   border: 1px solid rgb(226, 232, 240);
   padding: 20px;
   border-radius: 50%;
}

.service__title {
   margin-bottom: 16px;
}

.service__description {
   font-size: 16px;
   line-height: 2;
   color: #7c8ba1;
   padding-right: 16px;
}

.service__description--container {
   margin-left: 16px;
}

.two-column--container {
   display: flex;
}

.text-column--container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 50%;
}

.text-column--wrapper {
   width: 90%;
}

.text__para {
   color: #7c8ba1;
   font-weight: 500;
}

.img-column--container {
   display: flex;
   align-items: center;
   width: 50%;
}

.img-column {
   display: flex;
   width: 100%;
}

.img__border {
   border: 1px solid rgb(226, 232, 240);
}


/************ 

    STEPS

 ************/


.step-img__column--wrapper {
   width: 100%;
   display: flex;
   align-items: center;
}

.right-column-text--container {
   width: 50%;
   display: flex;
   justify-content: flex-end;
}

.step-section__title {
   margin-top: 16px
}

.steps {
   margin-top: 48px;
}

.step {
  display: flex;
  margin-bottom: 32px;
}

.step__text--container {
   margin-left: 24px;
   max-width: 55%;
}

.step-number {
   font-size: 36px;
   font-weight: 600;
   color: #CBD5E0;
}

.step--title {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 12px;
   color: #243E63;
 }

.step--description {
   font-size: 14px;
   line-height: 2;
   color: #718096;
   font-weight: 500;
}

/************ 

   VALUES

 ************/

.value__img--wrapper {
   width: 50%;
   display: flex;
   align-items: center;
}

.values-text-section--wrapper {
   width: 89%;
}

.values__text-two-column--container {
   display: flex;
}

.value--container {
   margin: 32px 32px 0 0;
}

.value__i-header--container {
   display: flex;
   align-items: center;
   margin-bottom: 16px;
}

.value__head-title {
   font-size: 20px;
   font-weight: 500;
   margin-left: 12px;
   color: #243E63;
}

.value__para-description {
   font-size: 16px;
   color: #718096;
}

.values__link {
   margin-top: 48px;
}

.i--wrapper {
   border-radius: 50px;
   width: 36px;
   height: 36px;
}

.i-dollar--style {
   background-color: #9AE6B4;  
   color: #1c703a; 
}

.i-suitcase--style {
   background-color: #FEB2B2;
   color: #b63434;
}

/************ 

   PRICING

************/

.plan__header--container {
   display: flex;
   flex-direction: column;
}

.plans--container {
   display: flex;
}

.plan--wrapper {
   width: calc(100% / 3);
   position: relative;
   margin: 32px 16px 0 16px;
}

.div--styled {
   position: absolute;
   left: 0px;
   right: 0px;
   top: 0px;
   height: 8px;
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
}

.plan {
   padding: 8px 32px 0 32px;
   border-radius: 12px;
}

.green {
   background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.red {
   background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan-sides--style {
   border: 1px solid rgb(226, 232, 240);;
}

.plan-head--container {
   display: flex;
   flex-direction: column;
   position: relative;
   padding: 32px;
}

.plan-name {
   font-size: 20px;
   font-weight: 700;
}

.plan-price {
   margin: 24px 0;
   font-size: 48px;
   font-weight: 700;
}

.plan-duration {
   font-size: 16px;
   font-weight: 700;
   color: #A0AEC0;
   letter-spacing: 1px;
}

.plan-features--container {
   display: flex;
   flex-direction: column;
   padding: 32px;
   margin: 0 -32px 0 -32px;
   border-style: solid;
   border-top-width: 2px;
   border-bottom-width: 2px;
   border-left-width: 0;
   border-right-width: 0;
   border-color: rgb(226, 232, 240);
}

.main-feature {
   font-size: 20px;
   font-weight: 700;
}

.plan-feature {
   font-size: 16px;
   margin-top: 20px;
   color: #718096;
}

.plan__button--wrapper {
   padding: 32px 64px;
}

.purple-background {
   background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.white {
   color: #fff;
   --tw-border-opacity: 1;
   border-color: rgb(102 126 234 / var(--tw-border-opacity));
}

.plan__button {
   border: 0px;
   font-size: 14px;
   font-weight: 600;
   border-radius: 50px;
   padding: 16px 32px;
   width: 100%;
   transition: all 300ms ease;
}

.plan__button:hover {
   transform: translateY(-1px) translateX(1px);
   filter: brightness(95%);
   box-shadow: -2px 8px 12px 0 rgba(0, 0, 0, 0.15);
}


/************** 

   TESTIMONIAL

***************/

.testimonial__heading {
   font-size: 20px;
   font-weight: 600;
   color: #243E63;
   margin-top: 16px;
}

.testimonial__para {
   font-size: 16px;
   font-weight: 500;
   color: #4A5568;
   margin: 16px 0 40px 0;
}

.client--wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.client--container {
   display: flex;
   align-items: center;
   width: 100%;
}

.client-details--container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.rating {
   color: rgb(255, 174, 0);
}

.client__img--wrapper {
   max-width: 80px;
   max-height: 80px;
}

.client__img {
   border-radius: 50px;
   width: 100%;
}

.client-title {
   font-size: 16px;
   font-weight: 500;
   margin-top: 4px;
   color: #7c8ba1;
}

.client__button--container {
   display: flex;
   max-height: 48px;
}

.divider {
   border-right: 1px solid black;
   margin: 12px 0;
}

.btn--slider {
   width: 48px;
   height: 100%;
   border: none;
   border-radius: 25px;
   padding: 16px;
   margin: 0 12px;
   color: #6415ff;
   transition: all 300ms ease;
}

.btn--slider:hover {
   filter: brightness(95%);
}


/************** 

      FAQS

***************/

.questions--container {
   width: 70%;
}

.question {
   width: 100%;
   padding: 20px 40px;
   background-color: #EDF2F7;
   border-radius: 10px;
   margin-top: 20px;
   transition: all 300ms ease;
}

.question:hover {
   filter: brightness(95%);
}

.question:hover .question__answer {
   height: auto;
   display: block;
}

.question:hover .question__dropdown-arrow {
   transform: rotate(-180deg);
}

.question__title {
   display: flex;
   justify-content: space-between;
   font-size: 20px;
   font-weight: 600;
   color: #2D3748;
}


.question__dropdown-arrow {
   display: flex;
   align-items: center;
   transition: transform 300ms ease;
}

/* .question__answer {
   margin-top: 24px;
   height: 0;
   opacity: 0;
   transition: all 300ms ease;
} */

/************** 

   GET STARTED

***************/

#getstarted {
   margin-bottom: 90px;
}

.getstarted--container {
   border-radius: 10px;
   background-color: #6415ff;
   padding: 80px 0;
   min-height: 29vh;
}

.getstarted--row {
   height: 100%;
   padding: 0 32px;
   margin: 0 100px;
   display: flex;
   justify-content: space-between;
}

.getstarted__text {
   color: #F7FAFC;
   font-size: 30px;
   font-weight: 600;
   line-height: 1.5;
   width: 50%;
}

.getstarted__links {
   display: flex;
   align-items: center;
   justify-content: center;
}

.getstarted__link {
   padding: 24px 40px;
   border-radius: 50px;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 1px;
   color: #F7FAFC;
}

.getstarted__link--red {
   background-color: #F56565;
   margin-right: 32px;
   transition: background-color 300ms ease;
}

.getstarted__link--red:hover {
   background-color: #ec3131;
}

.getstarted__link--purple {
   background-color: #6415ff;
   color: #F7FAFC;
   border: 1px solid #f7fafcb6;
   transition: all 300ms ease;
}

.getstarted__link--purple:hover {
   background-color: #F7FAFC;
   color: #6415ff;
}

/************** 

   FOOTER

***************/

footer {
   background-color: #6415ff;
   padding: 0 30px
}

.footer__five-column--container {
   display: flex;
   justify-content: space-between;
}

.footer__column--links {
   display: flex;
   flex-direction: column;
   margin-top: 12px;
}

.footer__column--title {
   font-size: 16px;
   font-weight: 600;
   color: #F7FAFC;
}

.footer__column--link {
   font-size: 14px;
   font-weight: 500;
   color: #F7FAFC;
   margin-top: 12px;
   padding-bottom: 4px;
   text-decoration: underline rgba(0, 0, 0, 0) 2px;
   text-underline-offset: 8px;
   transition: text-decoration 300ms ease;
}

.footer__column--link:hover {
   text-decoration: underline #F7FAFC 2px;
}

.footer__divider {
   --tw-border-opacity: 1;
   border-top: 2px solid rgb(116 44 255 / var(--tw-border-opacity));
   margin: 64px 0;
}

.footer__three-column {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer__logo--container {
   display: flex;
   align-items: center;
}

.footer__logo--wrapper {
   display: flex;
   max-width: 32px;
}

.footer__logo {
   width: 100%;
}

.footer__logo-title {
   font-size: 20px;
   font-weight: 800;
   letter-spacing: 1px;
   margin-left: 8px;
   color: #F7FAFC;
}

.footer__copyright {
   color: #CBD5E0;
}

.footer__social-links {
   display: flex;
}

.footer__social-link {
   height: 32px;
   width: 32px;
   margin-left: 16px;
   background-color: #F7FAFC;
   border-radius: 25px;
}

@media (max-width: 768px)  {

   .nav__links {
      display: none;
   }

   .header__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 80px 0;
      height: 100%;
   }

   .header__description--wrapper {
      width: 75%;
      align-items: center;
   }

   .header__img--wrapper {
      margin-top: 40px;
      width: 75%;
   }

   .header__title {
      font-size: 30px;
      text-align: center;
   }

   .header__para {
      font-size: 16px;
      text-align: center;
      margin: 20px 0;
   }

   .customers-logo--wrapper {
      margin-top: 48px;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      width: 100%;
   }

   .customers-logo {
      max-width: 95%;
   }

   .text__para {
      font-size: 14px;
   }

   .section__title {
      font-size: 36px;
   }

   .section__sub-title {
      font-size: 16px;
      width: 80%;
   }

   /* FEATURES */

   .features--container {
      margin: 0;
   }

   .service {
      width: calc(100%/2);
      margin-top: 32px;
   }

   /* VALUES */
   
   .values__text-two-column--container {
      flex-direction: column;
   }

   /* PRICING */

   .plans--container {
      flex-direction: column;
      align-items: center;
   }

   .plan--wrapper {
      width: 65%;
      margin: 40px 0 0 0;
   }

   /* TESTIMONIAL */

   .testimonial__img--container {
      width: 40%;
   }

   .testimonial__text--container {
      width: 60%;
   }

   /* FAQS */

   .questions--container {
      width: 100%;
   }

   .question__title {
      font-size: 18px;
   }

   .getstarted--row {
      flex-direction: column;
      align-items: center;
      padding: 0px 32px;
      margin: 0;
   }

   .getstarted__text {
      width: 80%;
      text-align: center;
   }

   .getstarted__links {
      margin-top: 16px;
   }

   .getstarted__link {
      font-size: 16px;
      padding: 16px 32px;
   }
   
}

@media (max-width: 480px)  {
   
   .form--wrapper {
      width: 100%;
   }

   form {
      flex-direction: column;
      border: none;
      padding: 0;
   }

   form:hover {
      border: none;
   }

   form:focus-within {
      border: none;
   }

   input {
      border: 2px solid rgb(226, 226, 226);
      border-radius: 30px;
      padding: 20px 0 20px 28px;
      transition: all 300ms ease;
   }

   input:hover {
      border:2px solid grey;
   }
   
   input:focus-within {
      border: 2px solid #6415ff;
   }

   .header__button {
      padding: 20px;
      border-radius: 30px;
      margin-top: 16px;
   }

   .customers-logo--wrapper {
      margin-top: 48px;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
   }
   
   .header__img {
      margin-top: 48px;
   }

   .section__title {
      font-size: 30px;
      text-align: center;
   }

   .section__sub-title {
      font-size: 14px;
      width: 100%;
   }

   .two-column--container {
      flex-direction: column;
   }

   .text-column--container {
      width: 100%;
   }

   .text-column--wrapper {
      width: 100%;
      text-align: center;
      padding-top: 40px;
   }

   .img-column--container {
      width: 100%;
   }

   /* FEATURES */

   .service {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-top: 32px;
   }

   .service__description--container {
      margin: 12px 0 0 0;
   }

   .service__title {
      margin: 0;
   }

   .service__description {
      padding: 0;
   }

   

   .right-column-text--container {
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .reverse-row {
      display: flex;
      flex-direction: column-reverse;
   }

   /* STEP SECTION */

   .step {
      flex-direction: column;
      align-items: center;
   }

   .step__text--container {
      max-width: 100%;
      margin: 0;
      text-align: center;
   }

   /* VALUES SECTION  */

   .value--container {
      margin: 0;
   }

   .value__i-header--container {
      justify-content: center;
   }

   /* PRICING SECTION */

   .plan--wrapper {
      width: 100%;
      margin: 40px 0 0 0;
   }

   .plan__button--wrapper {
      padding: 32px 16px;
   }

   /* TESTIMONIALS SECTION  */

   .client--wrapper {
      flex-direction: column;
   }

   .client--container {
      flex-direction: column;
      align-items: center;
   }

   .client-details--container {
      padding: 0;
      margin-top: 8px;
   }

   .client__button--container {
      margin-top: 32px;
   }

   /* FAQs */

   .questions--container {
      width: 100%;
   }

   .question__title {
      font-size: 18px;
   }

   .question__dropdown-arrow {
      padding-left: 8px;
   }
   

   /* Get Started */

   .getstarted--row {
      flex-direction: column;
      padding: 0px 32px;
      margin: 0;
   }

   .getstarted__text {
      font-size: 24px;
      width: 100%;
   }

   .getstarted__links {
      flex-direction: column;
   }

   .getstarted__link {
      font-size: 14px;
      padding: 16px 24px;
   }

   .getstarted__link--red {
      margin: 0 0 12px 0;
   }

   /* Footer */

   .footer__five-column--container {
      flex-wrap: wrap;
      justify-content: center;
   }

   .footer__column {
      width: calc(100%/2);
      margin-top: 42px;
      text-align: center;    
   }

   .footer__three-column {
      flex-direction: column;
   }

   .footer__copyright {
      font-size: 14px;
      margin-top: 32px;
   }

   .footer__social-links {
      margin: 32px 0 0 0;
      width: 50%;
   }

   .footer__social-link {
      margin: 0 auto;
   }

}