@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
}

h1 {
   font-size: 48px;
}

h3 {
   font-size: 23px;
   color: #243E63;

}

p {
   font-size: 18px;
   font-weight: 400;
   line-height: 1.5;
}

li {
    list-style-type: none;
}

a {
   text-decoration: none;
   position: relative;
   color: #243E63;
}


button {
   background-color: #6415ff;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   padding: 12px 32px;
   border: none;
   border-radius: 20px;
   transition: filter 300ms ease;
}

button:hover {
   filter: brightness(85%);
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
   padding: 80px 0;
}

.underline-hover-effect:after {
    content: "";
    position: absolute;
    height: 2px;
    opacity: 0;
    bottom: -5px;
    left: 0;
    width: 100%;
    transition: opacity 300ms ease;
}

.underline-hover-effect:hover::after {
    opacity: 1;
}

.underline-purple:after {
   background-color: #6415ff;
}

.purple {
   color: #6415ff;
}

.span__title {
   color: #6415ff;
   font-size: 16px;
   font-weight: 700;
   letter-spacing: 1px;
   margin-bottom: 16px;
}

.section__title {
   font-size: 48px;
   color: #243E63;
   font-weight: 800;
   letter-spacing: 1px;
   margin-bottom: 24px;
}

.section__sub-title {
   margin-bottom: 32px;
   font-weight: 500;
   color: #7c8ba1;
}

.text--wrapper {
   width: 90%;
}

/************ 

    NAV BAR 

 ************/

 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
 }

 .nav__logo {
    max-width: 40px;
    display: flex;
 }

 .nav__logo--wrapper {
    padding-right: 10px;
 }

 .nav__logo-link {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    transition: color 300ms ease;
 }

 .nav__logo-link:hover {
    color: #6415ff;
 }

 .nav__links {
    display: flex;
 }

 .nav__link {
    margin: 0 20px;
    font-size: 14px;
    font-weight: 600;
    transition: color 300ms ease;
 }

 .nav__link:hover {
    color: #6415ff;
 }


 .link-credentials {
    display: flex;
    margin-left: 48px;
 }

 .primary__link {
   font-size: 14px;
   font-weight: 600;
   padding: 12px 32px ;
   background-color: #6415ff;
   color: #fff !important;
   border-radius: 20px;
   transition: filter 300ms ease;
 }

 .primary__link:hover {
    filter: brightness(85%);
 }


/************ 

   LANDING 

 ************/

.header__container {
   display: flex;
   align-items: center;
   height: calc(100vh - 100px);
   padding-bottom: 80px;
}

.header__img {
   width: 100%;
}

.header__img--wrapper {
   width: 57%;
}

.header__description--wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 43%;
}

.header__para {
   padding: 32px 0;
}

form {
   display: flex;
   flex-direction: row;
   border: 2px solid rgb(226, 226, 226);
   border-radius: 30px;
   padding: 8px 8px;
   width: 78%;
   transition: all 300ms ease;
}

form:hover {
   border:2px solid grey;
}

form:focus-within {
   border: 2px solid #6415ff;
}

input {
   font-size: 16px;
   font-weight: 500;
   flex-grow: 2;
   color: black;
   border: none;
   padding-left: 20px;
}

input::placeholder {
   color: rgb(226, 226, 226);
}

input:focus {
   outline: none;
}

.customers-logo {
   width: 100%;
   max-width: 380px;
   margin-top: 16px;
}

.customers-logo--wrapper {
   font-size: 12px;
   font-weight: 700;
   margin-top: 80px;
   opacity: 0.4;
   color: #243E63;
   display: flex;
   flex-direction: column;
}

/************ 

   FEATURES

 ************/

.features--container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 80px;
}

.services--container {
   display: flex;
   flex-wrap: wrap;
}

.service {
   display: flex;
   width: calc(100%/3);
   padding: 0px 24px;
   margin: 32px 0;
}

.service__img--wrapper {
   display: flex;
   display: inline-block;
}

.service__img {
   border: 1px solid rgb(226, 232, 240);
   padding: 20px;
   border-radius: 50%;
}

.service__title {
   margin-bottom: 16px;
}

.service__description {
   font-size: 16px;
   line-height: 2;
   color: #7c8ba1;
   padding-right: 16px;
}

.service__description--container {
   margin-left: 16px;
}

.two-column--container {
   display: flex;
}

.text-column--container {
   display: flex;
   justify-content: center;
   flex-direction: column;
   width: 50%;
}

.img-column--container {
   width: 50%;
}

.img-column {
   display: flex;
   width: 100%;
}

.img__border {
   border: 1px solid rgb(226, 232, 240);
}


/************ 

    STEPS

 ************/


.step-img__column--wrapper {
   width: 50%;
   display: flex;
   align-items: center;
}

.step-column--container {
   width: 50%;
   display: flex;
   justify-content: flex-end;
}

.step-column--wrapper {
   width: 90%;
}

.step-section__title {
   margin-top: 16px
}

.steps {
   margin-top: 48px;
}

.step {
  display: flex;
  margin-bottom: 32px;
}

.step__text--container {
   margin-left: 24px;
   max-width: 55%;
}

.step-number {
   font-size: 36px;
   font-weight: 600;
   color: #CBD5E0;
}

.step--title {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 12px;
   color: #243E63;
 }

.step--description {
   font-size: 14px;
   line-height: 2;
   color: #718096;
   font-weight: 500;
}

/************ 

   VALUES

 ************/

.value__img--wrapper {
   width: 50%;
   display: flex;
   align-items: center;
}

.values-text-section--wrapper {
   width: 89%;
}

.values__para {
   color: #7c8ba1;
   font-weight: 500;
}

.values__text-two-column--container {
   display: flex;
}

.value--container {
   margin: 32px 32px 0 0;
}

.value__head-title {
   font-size: 20px;
   font-weight: 500;
   color: #243E63;
}

.value__para-description {
   font-size: 16px;
   color: #718096;
   margin-bottom: 48px;
}